#font_list {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
}

#Book:hover {
  transition: 0.5s;
  filter: brightness(50%);
  cursor: pointer;
}

#BookCoverLayout {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#BookCoverLayout #blur {
  height: 600px;
  width: 100%;
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

#BookCoverLayout #cover {
}
